@import './navigation.scss';
@import './index.scss';
@import './purchase.scss';
@import './[orderId].scss';
@import '../components/box.scss';
@import '../components/form.scss';

body {
  margin: 0;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  margin-right: 2rem;
}

.main {
  font-family: 'Lato', sans-serif;
}
