@import '../utils/variables/_variables.scss';

@mixin brand {
  font-size: 1.5rem;
  font-weight: bold;
  align-items: center;
}

.navbar {
  -webkit-box-shadow: 0 3px 5px #888888;
  -moz-box-shadow: 0 3px 5px #888888;
  box-shadow: 0 3px 5px #888888;

  &-list {
    height: 100%;
    display: flex;
    align-items: center;

    &-brand {
      @include brand;
      flex: 8 2 10%;

      &-label:hover {
        cursor: pointer;
      }
    }

    &-item {
      min-width: 120px;
      position: relative;
      align-items: center;
      text-align: center;
      flex: 1 10 3%;
      padding: 10px 0;
    }

    &-item:hover {
      cursor: pointer;
      color: #ffffff;
      background-color: #000000;
      border-radius: 0.5rem;
    }

    li {
      list-style: none;
    }
  }

  &-dropdown {
    height: 100%;
    display: inline-block;
    position: relative;

    &-label {
      min-width: 120px;
      line-height: 3;
      align-items: center;
      text-align: center;
      cursor: default;
    }

    &-content {
      display: none;
      z-index: 1;
      min-width: 130px;
      position: absolute;
      text-align: center;

      &-item {
        padding: 10px;
        background-color: white;
        border: 1px solid black;
        cursor: pointer;
        font-size: 0.75rem;

        &:hover {
          background-color: $color-gray;
        }

        &:last-child {
          border-top: 0;
        }
      }
    }

    &:hover &-content {
      display: block;
    }
  }
}
