@mixin brand {
  font-size: 1.5rem;
  font-weight: bold;
  align-items: center;
}

.navbar {
  height: 12vh;
  -webkit-box-shadow: 0 3px 5px #888888;
  -moz-box-shadow: 0 3px 5px #888888;
  box-shadow: 0 3px 5px #888888;

  &-list {
    height: 100%;
    display: flex;
    align-items: center;

    &-brand {
      @include brand;
      flex-grow: 2;

      &-label:hover {
        cursor: pointer;
      }
    }

    &-item {
      width: 8%;
      line-height: 3;
      position: relative;
      align-items: center;
      text-align: center;
    }

    &-item:hover {
      cursor: pointer;
      color: #ffffff;
      background-color: #000000;
      border-radius: 0.5rem;
    }

    li {
      list-style: none;
    }
  }
}
