@import '../components/button.scss';
@import '../utils/mixins/error.scss';
@import '../utils/mixins/container.scss';

.purchase {
  @include container(260px, 160px, auto, 160px, auto, $shadow: true);
  text-align: center;
  padding: 2%;

  .title {
    font-size: 2rem;
    font-weight: 600;
  }

  &-error {
    @include error(85%);
  }

  @include button(50%);
}
