@import './components/button.scss';
@import './mixins/error.scss';
@import './mixins/container.scss';

.purchase {
  @include container(20%, 5%, auto, 0, auto);
  text-align: center;
  padding: 3%;

  .title {
    font-size: 2rem;
    font-weight: 600;
  }

  &-error {
    @include error(85%);
  }

  @include button(50%);
}
