.jumbotron {
  background-color: #351f5d;
  margin: 0;
  z-index: 0;
  position: relative;
  font-family: Druk, Impact;
  font-weight: 800;
  font-size: 14rem;
  line-height: 0.83;
  overflow: hidden;

  &-text {
    opacity: 0.2;
  }
}
