@import '../utils/variables/variables';

.message {
  position: relative;
  z-index: 1;

  &-box {
    position: absolute;
    right: -15px;
    width: 20%;
    min-width: 165px;
    margin-top: 1%;
    margin-right: 3%;

    &-card {
      padding: 20px;
      border-radius: 10px;
      margin-bottom: 2%;
      background-color: $color-green-light;
      border: 0.5px solid $color-green-dark;
      box-shadow: 0 0.5rem 3rem $color-green-dark;
      animation: moveFromRight 1s ease-out;

      &-text {
        margin-bottom: 15px;
      }

      &-contents {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .clipboard {
          background-color: transparent;
          outline: none;
          border: none;
          display: inline-block;
          position: relative;

          &:hover {
            cursor: pointer;
          }
        }

        &:not(:last-child) {
          margin-bottom: 10px;
        }
        &:last-child {
          border-bottom: 0;
        }
      }
    }

    &-card:after {
      content: '';
      position: absolute;
      top: 15px;
      right: -30px;
      border-width: 20px;
      border-color: transparent transparent transparent $color-green-light;
      border-style: solid;
    }

    .copied {
      border-radius: 10px;
      text-align: center;
      color: white;
      background-color: #595959;
      line-height: 2.5rem;
      font-size: 1.5rem;
      animation: hideAnimation 2s ease-in 2s forwards;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes moveFromRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveFromBottom {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes hideAnimation {
  from {
    opacity: 1;
  }

  to {
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
  }
}

@-webkit-keyframes hideAnimation {
  from {
    opacity: 1;
  }

  to {
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
  }
}
