@import './form.scss';

.modal {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background-color: rgba(black, 0.8);
  z-index: 30;
  overflow: hidden;

  &-content {
    border-radius: 5px;
    overflow: hidden;

    @include form($modal: true);
    .close {
      position: absolute;
      right: 0;
      text-decoration: none;
      outline: 0;
      border: 0;
      background-color: transparent;
      margin: 2%;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
