@import '../utils/variables/variables';

.pagination {
  text-align: center;

  li {
    display: inline-block;
    list-style: none;
    padding: 5px 8px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: $color-gray-secondary;
    margin: 40px 5px 70px 5px;

    a {
      cursor: pointer;
      text-decoration: none;
      color: inherit;
    }
  }
}
